<%- include("header") %>

<link rel="stylesheet" href="/css/list.css">
    <h3 id='heading'>transactions</h3>
    <div style="overflow-x:auto;">
    <table id="cryplist" style="width:100%">
        <tr>
            <th>Sno</th>
            <th>From</th>
            <th>To</th>
            <th></th>
            <th>Token</th>
            <th>Amount</th>
        </tr>

        <% for (var i=0;i<list.length;i++) { %>
            <tr>
                <td>
                    <%= i+1 %>
                </td>
                <td><%=list[i].from_address%>
                </td>
                <td>
                    <%=list[i].to_address%>
                </td>
                <td>

                </td>
                <td><%=list2[i].sender_contract_ticker_symbol%>
                </td>
                <td>
                    <% var x = (list2[i].decoded.params[2].value).toString() %>
                    <% var y = x.substring(0,3) +"." + x.substring(3) %>
                    <%=y.substring(0,11)%>
                </td>
            </tr>
        <% } %>           
        </table>
    </div>
</body>

</html>